{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-2"
  ],
  "plugins": [
    ["transform-react-jsx", {
      "pragma": "React.createElement"
    }],
    "external-helpers"
  ]
}
